.card-cadastro-funcionario{
    padding: 1em;
    margin: 0 auto;
    width: 25em;
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.titulo{
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.btn-cadastrar{
    margin-top: 1em;
    margin-left: auto;
    
}

.card-cadastro-funcionario .p-field{
    margin-top: 1em;
}

.formulario-cadastro{
    margin: 0 auto;
}
